body{
    font-family:"Montserrat";
    text-align:center;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold"  
  }

  .whitetext{
    color:white;
  }
  .leftalign{
    text-align:left;
  }



/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
  }

.navbar-brand {
    font-family:Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left:10px;
   
  }
  
.nav-item {
    padding: 0 18px;
  }
.nav-link {
    font-size: 1.7rem;
    font-family: "Montserrat";

    font-weight:lighter;
  }
  
#title {
    background-color:#E71414;
    text-align:left;
   
  }

  #title .container-fluid {
    padding:1.5% 6% 11%;
    height:670px;
    
  }
  

  #navbar-background{
    position:absolute;
    width: 100%;
    height: 670px;
    left:0px;
    right:0px;
   
    padding:0px;
    top:0px;
    z-index:0;
  
  
  
    opacity: 0.9;
  }

  #crown{
    position:relative;
    height:30px;
    bottom:8px;
    
  }
  
  #title-text{
    
    position:relative;
    color:white;
    z-index:1;
    top:50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 80px;
    
    
  }

/* Categories */
  #categories{
    padding:5% 6%;
    text-align:center;
}

.categories-column{
    padding:2.5% 1%;
}

.categories-icon{
  height:50px;
  margin-right:10px;
  
}
.categories-button{
  background-color:#f7f7f7;
}
.categories-button:hover{
  background-color:#e8e4e1;
}


/* Slider-box */

  #slider-box{
   background-color:#f6d198;
  }
  .slider-box {
    margin:3% 0 0 0;
   
  }

  .carousel-inner {    
    margin:1% 0 0 0;
    padding:1% 10%;

    
  }





  @media (max-width: 1028px) {

    #title {
      text-align:left;
    }
    #title-text{
      font-size:30px;
      line-height:75px;
      

    }
    #navbar-background{
      width:100%;

    }
    .carousel-inner {    
      margin:1% 0 0 0;
      padding:0px;
  
      
    }
    .categories-column{
      padding:2% 1%;
  }
  
  
  
  }
